<h1>Editing Task</h1>

<%= form_for(@task) do |f| %>
    <% if @task.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

          <ul>
            <% @task.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :task_name %><br>
      <%= f.text_field :task_name %>
    </div>
    <div class="field">
      <%= f.label :task_complete %><br>
      <%= f.check_box :task_complete %>
    </div>
    <div class="field">
      <%= f.label :task_description %><br>
      <%= f.text_field :task_description %>
    </div>
    <div class="field">
      <%= f.label :job_id %><br>
      <%= f.collection_select( :job_id, Job.all, :id, :job_name, prompt: true) %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>

<%= link_to 'Show', @task %> |
<%= link_to 'Back', tasks_path %>
