<p id="notice"><%= notice %></p>

<p>
  <strong>Job name:</strong>
  <%= @job.job_name %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @job.employee_id %>
</p>

<p>
  <strong>Job complete:</strong>
  <%= @job.job_complete %>
</p>

<p>
  <strong>Job location:</strong>
  <%= @job.job_location %>
</p>

<p>
  <strong>Due date:</strong>
  <%= @job.due_date %>
</p>

<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
