<!DOCTYPE html>
<html>
<head>
  <title>HackInClass</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <div class="nav">
    <ul>
      <li><a><%= link_to "Employee", employees_path %></a></li>
      <li><a><%= link_to "Job", jobs_path %></a></li>
      <li><a><%= link_to "Task", tasks_path %></a></li>
    </ul>
  </div>
</head>
<body>

<%= yield %>

</body>
</html>
